<main>
  <div>
    <h1 class="bg-red-200 p-12 text-center font-medium text-2xl">
      {{title}}
    </h1>
    <p class="w-4/5 m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut, pariatur inventore odit doloribus eum ea voluptatem ducimus nesciunt rerum dolor hic laboriosam nemo harum iusto earum reprehenderit est, corrupti ut accusantium delectus rem dicta tempora numquam. Beatae, explicabo quidem. Id quibusdam facere aliquam magnam vero. Quidem debitis voluptatibus, obcaecati reiciendis, id hic, eum corporis deserunt consectetur sequi laboriosam soluta officiis odit veritatis nulla voluptatum atque esse nihil perspiciatis beatae rerum! Ipsa, nisi! Eos veritatis aliquam quod doloremque quia a sapiente dolorum aut recusandae iste, temporibus quasi voluptates fugit reprehenderit, sequi ratione beatae, ipsum accusamus autem. Autem suscipit iure odio!</p>
  </div>
</main>
